{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}


    

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.comment.label_tag }}
          {{ form.comment }}
          {{ form.comment.errors }}
          <button type="submit" class="button" >Add Comment</button>
        </form>
      </div>
      
    </div>
</div>

  {% endblock body %}