{% extends 'base.html' %}


{% block body %}   
<div class="container my-5">
    <div class="d-flex align-items-center">
        <h1 class="py-3 px-4">Posts</h1> 
        <form method="GET" class="form-inline d-flex align-items-center">
            <div class="mx-3 py-3 px-2">
                <input type="search" name="q" class="input" placeholder="Type here..." value="{{ request.GET.q }}">
            </div>
            <button type="submit" class="button">Search</button>
            {% if request.GET.q %}
                <a href="/blog" class="buttonml-2 button px-3">Reset</a>
            {% endif %}
        </form>
    </div>

            {% for item in post_list %}
            <main>
                <section class="cards py-3">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{item.image.url}}" />
                        </div>
                        <div class="card-text">
                            <h2>{{item.title}}</h2>
                            <p>{{item.content|safe}}</p>
                        </div>
                        <div class="card-inner">
                            <a href="/blog/{{item.id}}" class="button">details</a>
                            <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                        </div>
                    </div>
            </section>
            
            </main>
            {% endfor %}  
        </div>
    </div> 

 
    
    
    


    
    {% endblock body %}